*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins', sans-serif;;
    src: url(../fonts/Poppins.zip/Poppins-Regular.ttf) format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins', sans-serif;;
    src: url(../fonts/Poppins.zip/Poppins-Medium.ttf) format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins', sans-serif;;
    src: url(../fonts/Poppins.zip/Poppins-Bold.ttf) format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

img {
    max-width: 100%;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.btn-reset {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}


.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.link {
    display: inline-block;
    border-bottom: 1px solid currentColor;
    font-weight: 700;
    font-size: 16px;
    line-height: 11px;
    text-decoration: none;
    color: #d4d6d4;
}

.link:hover {
    color: #ffd723;
}

.header {
    position: absolute;
    left: 0;
    top: 0;
    padding: 24px 0;
    width: 100%;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.burger {
    --offset-horizontal: 11px;
    --offset-vertical: 14px;
    position: relative;
    border-radius: 100%;
    padding: var(--offset-vertical) var(--offset-horizontal);
    width: 40px;
    height: 40px;
    background-color: #f5f6f7;
}

.burger__line {
    position: absolute;
    left: 50%;
    display: inline-block;
    width: calc(100% - (var(--offset-horizontal) * 2));
    height: 2px;
    background-color: #000;
    transform: translateX(-50%);
}

.burger__line {
    top: 50%;
}

.burger__line:nth-child(2) {
    top: var(--offset-vertical);
}

.burger__line:nth-child(3) {
    top: calc(var(--offset-vertical) + 12px);
}

.hero {
    min-height: 811px;
    padding-top: 189px;
    padding-bottom: 210px;
    background-image: url(../img/hero-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero__content {
    max-width: 600px;
}

.hero__subtitle {
    margin-bottom: 22px;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    }

.hero__title {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 60px;
    line-height: 74px;
    color: #fff;
}

.hero__descr {
    margin-bottom: 45px;
    max-width: 540px;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
}

.link svg {
    fill: currentColor;
}

.hero__link {
    color: #ffd723;
}

.services {
    margin-bottom: -180px;
    padding: 150px 0;
}

.services__title {
    margin-bottom: 60px;
    max-width: 607px;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #4d533c;
}

.services__list {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}

.list__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 255px;
}

.item__subtitle {
    max-width: 190px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    text-transform: uppercase;
    color: #4D533C;
}

.item__descr {
    max-width: 180px;
    font-size: 14px;
    line-height: 26px;
    color: rgba(33, 56, 66, 0.6);
}

.item__link {
    margin-bottom: 0;
    margin-top: auto;
}

.get-started {
    position: relative;
    top: 180px;
    padding: 70px 0;
    width: 88%;
    background-color: #fafafa;
    box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
}

.get-started__title {
    margin-bottom: 50px;
    max-width: 822px;
    font-weight: 700;
    font-size: 60px;
    line-height: 74px;
    color: #4D533C;
}

.get-started__link {
    text-transform: uppercase;
}

.footer {
    padding-top: 300px;
    color: #fff;
    background-image: url(../img/footer-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer__top {
    padding-bottom: 52px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #5d6544;
}

.footer__contacts:not(:last-child) {
    margin-right: 128px;
}

.contacts__text {
    margin-bottom: 8px;
    display: block;
    font-size: 16px;
    line-height: 40px;
    color: #b6c197;
}

.contacts__value {
    display: inline-block;
    color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
}

.footer__middle {
    padding: 60px 0;
    display: grid;
    gap: 70px;
    grid-template-columns: repeat(4, 1fr);
    border-bottom: 1px solid #5d6544;
}

.footer__column {
    position: relative;
}

.footer__column:last-child::before {
    content: "";
    position: absolute;
    top: 0;
    left: -110px;
    width: 1px;
    height: 100%;
    background-color: #5d6544;
}

.column__title {
    margin-bottom: 21px;
    font-weight: 700;
    font-size: 16px;
    line-height: 38px;
    text-transform: uppercase;
}

.item__link--footer {
    display: inline-block;
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
    color: #b6c197;
}

.column__text {
    margin-bottom: 23px;
    font-size: 16px;
    line-height: 26px;
    color: #b6c197;
}

.column__mail {
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    text-decoration: none;
    color: #fff;
}

.social {
    margin-top: 24px;
    display: flex;
    align-items: center;
}

.social__item:not(:last-child) {
    margin-right: 11px;
}

.social__link {
    display: block;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    background-color: #444a34;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 18px auto;
    transition: background-color .3s ease-in-out;
}

.social__link:hover {
    background-color: #ffd723;
}

.social__link--fb {
    background-image: url(../img/fb.svg);
}

.social__link--tw {
    background-image: url(../img/tw.svg);
}

.social__link--g {
    background-image: url(../img/g.svg);
}

.social__link--in {
    background-image: url(../img/in.svg);
}

.footer__bottom {
    padding-top: 25px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright {
    font-size: 14px;
    line-height: 21px;
    color: #b5c096;
}


@media (max-width: 992px) {
    .services__list {
        gap: 50px;
        grid-template-columns: repeat(2, 1fr);
    }

    .item__subtitle {
        max-width: none;
    }

    .item__descr {
        max-width: none;
    }

    .footer__middle {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__column:last-child::before {
        display: none;
    }
}

@media (max-width: 768px) {
    .get-started__title {
        font-size: 54px;
        line-height: 60px;
    }
}

@media (max-width: 576px) {
    .get-started__title {
        font-size: 42px;
        line-height: 54px;
    }
}

@media (max-width: 375px) {
    
}